html,
body {
  height: 100%;
  margin: 0;
  min-width: width;
  text-align: center;
  background-color: rgb(12, 35, 64);
  color: rgb(174, 143, 64) !important;
  font-family: 'Julius Sans One', sans-serif;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(174, 143, 64);
}

.button {
    background-color: rgb(12, 35, 64);
    border: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(174, 143, 64);
    color: rgb(174, 143, 64);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.bar:hover {
  fill: black;
}

/* .jumbotron {
    color: rgb(174, 143, 64) !important;
    background-color: rgb(12, 35, 64)!important;
    width: 100% !important;
    
    font-family: 'Julius Sans One', sans-serif;
    padding-bottom: 25px;
} */

.container-fluid {
    background-color: rgb(12, 35, 64);
}

#nav-img {
    width: 50px;
    height: 50px;
}

a {
    color: rgb(174, 143, 64) !important;
}

.row-categories {
    padding-left: 250px;
    padding-top: 50px;
}

/* .thumbnail:hover{
    position:absolute;
    /* top: 50%;
    left: 50%;
    width:125px;
    height:auto; */
    /* display:block;
    z-index:999;
    transform: scale(.5); */


#searchBar {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 10px;
    margin-left: 20px;
}

.add_character {
    font-family: 'Julius Sans One', sans-serif;
}

.col-md-3 a:hover, .col-md-3 li a:active {
    color: rgb(146, 146, 146) !important;
    text-decoration: none;
}

.col-md-3 a, .col-md-3 li a:visited {
    color: rgb(174, 143, 64) !important;
}

.head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width:100%;
}

#chart {
  top: 195px;
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  content: " ";
  background-size: 100% 100%;
  opacity: 0.3;
} 

/* check the following to make sure it's still needed */

.btn-group-vertical {
    margin-left: 75px;
    font-family: 'Julius Sans One', sans-serif;
    float:left;
}

.btn-default { background: rgb(255, 255, 255); }

.lines {
    stroke-width: 2 !important;
    stroke: rgba(0, 0, 0, 0.2) !important;
    opacity: 1 !important;
    stroke-dasharray: 5, 3;
}

/* #avatar {
    border: 15px;
    float: left;
 } */


.toolTip {
    font-family: 12px 'Julius Sans One', sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    padding: 5px;
    text-align: center;
}
